{{template "base" .}}

{{define "content"}}
  <div class="editor">
    <h1>Editor</h1>
    <form onsubmit="submitHandler(event)">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input type="text" required class="form-control" id="title" name="title"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="content">Content</label>
        <textarea required class="form-control" id="content" name="content"></textarea>
      </div>
      <input type="hidden" id="articleid" value=""/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{{end}}

{{define "js"}}
<script>
  const submitHandler = event => {
    event.preventDefault()
    const title = document.getElementById("title").value;
    const content = document.getElementById("content").value;
    const articleid = document.getElementById("articleid").value;
    let res = fetch("/api/editor",{
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      credentials: "include",
      body: JSON.stringify({title, content, articleid})
    })
    .then(r=>r.json())
    .then(data=>{
      if(data.success){
        cuteAlert({
          type: "success",
          title: "Article Saved!",
          message: "Article successfully saved!",
          buttonText: "OK!",
          img: "img/success.svg"
        })
      }else{
        cuteAlert({
          type: "error",
          title: "Error!",
          message: data.error,
          buttonText: "OK",
          img: "img/error.svg"
        })
      }
    })
    .catch(err=>{
      cuteAlert({
          type: "error",
          title: "Error!",
          message: data.err,
          buttonText: "OK",
          img: "img/error.svg"
        })
    })
  }
</script>
{{end}}