{{template "base"}}

{{define "content"}}
<div>
  <h1 class="text-center">Login</h1>
  <form id="loginform" class="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <button type="submit">Login</button>
  </form>
</div>
{{end}}

{{define "js"}}
  <script>
    const loginHandler = event => {
      event.preventDefault();
      fetch("/login",{
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          username: document.getElementById("username").value,
          password: document.getElementById("password").value
        })
      })
      .then(res=>res.json())
      .then(data=>{
        console.log(data);
      })
    };
    document.getElementById("loginform").addEventListener("submit", loginHandler)
  </script>
{{end}}