{{template "base"}}

{{define "content"}}
<div>
  <h1 class="text-center">Register</h1>
  <form onsubmit="loginHandler" class="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <label for="confpassword">Confirm Password</label>
    <input type="password" id="confpassword" name="confpassword"/>
    <button type="submit">Register</button>
  </form>
</div>
{{end}}

{{define "js"}}
  <script>
    const loginHandler = event => {
      event.preventDefault();
    }
  </script>
{{end}}