html, body{
  background-color: #222;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-header{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-header__container{
  text-align: center;
}

.editor{
  margin: 20px auto;
  max-width: 640px;
  width: 100%;
}